<!-- editTime -->
<%
var alarmOn0 = '', alarmOn1 = '', alarmKind0 = '', alarmKind1 = ''
var checked = "checked = 'checked'";
var selected = "selected = 'true'";
if (obj_config.data1[0].alarmOn == 'true'){alarmOn0 = checked}else{alarmOn1 = checked}
if (obj_config.data1[0].alarmKind == 'mild'){alarmKind0 = selected}else{alarmKind1 = selected}
%>

<p><%=message%></p>
<hr>
<form method="post" action="/setTime" id="form">
<table border="1">
    <tr align="center">
        <th rowspan=4>アラーム</th>
        <td>有無</td>
        <td>
            <input type="radio" name="alarmOn" value="true" <%= alarmOn0 %>>ON</input>
            <input type="radio" name="alarmOn" value="false" <%= alarmOn1 %>>OFF</input>
        </td>
    </tr>
    <tr align="center">
        <td>時刻</td><td  align="right"><input type="time" min="00:00" max="12:00" step="300" name="alarmTime" 
        value=<%= obj_config.data1[0].alarmTime %>></td>
    </tr>
    <tr align="center">
        <td>種類</td><td><select type="text" name="alarmKind">
            <option <%= alarmKind0 %>>mild</option>
            <option <%= alarmKind1 %>>hard</option>
        </select></td>
    </tr>
    <tr align="center">
        <td>音量</td><td align="right"><input type="number" size="10" name="alarmVol" min="0" max="100" step="10" 
        value=<%= obj_config.data1[0].alarmVol %>></td>
    </tr>

    <tr align="center">
        <th rowspan=2>活動時間１</th>
        <td>開始</td><td align="right"><input type="time" min="00:00" max="23:30" step="600" name="awake1Start" 
        value=<%= obj_config.data1[0].awake1Start %>></td>
    </tr>
    <tr align="center">
        <td>終了</td><td align="right"><input type="time" min="00:30" max="24:00" step="600" name="awake1End" 
        value=<%= obj_config.data1[0].awake1End %>></td>
    </tr>
    <tr align="center">
        <th rowspan=2>活動時間２</th>
        <td>開始</td><td align="right"><input type="time" min="00:30" max="23:00" step="600" name="awake2Start" 
        value=<%= obj_config.data1[0].awake2Start %>></td>
    </tr>
    <tr align="center">
        <td>終了</td><td align="right"><input type="time" min="00:00" max="24:00" step="600" name="awake2End" 
        value=<%= obj_config.data1[0].awake2End %>></td>
    </tr>
    <tr align="center">
        <td colspan="3"><input type="submit" value="設定を更新する" style="font-size:16px;"></td>
    </tr>
</table>
</form>
<p><a href="/">トップページに戻る</a></p>
<script>
document.getElementById('form').onsubmit = function(){

    var timeStart = document.getElementById('form').awake1Start.value;
    var timeEnd = document.getElementById('form').awake1End.value;
    var tS1 = Number(timeStart.replace(":",""));
    var tE1 = Number(timeEnd.replace(":",""));

    var timeStart = document.getElementById('form').awake2Start.value;
    var timeEnd = document.getElementById('form').awake2End.value;
    var tS2 = Number(timeStart.replace(":",""));
    var tE2 = Number(timeEnd.replace(":",""));
    if (tE1 > tS2){
        window.alert('活動時間２は活動時間１より遅く設定してください');
        return false;}
    if (tS1 >= tE1 || tS2 >= tE2){
        window.alert('終了時間は開始時間より遅く設定してください');
        return false;}
}
</script>

