 <!-- プログラムの実行 -->
<p><%= message %></p>
<br>
<hr>
<p>アラーム設定 <%= obj.data1[0].alarmOn %></p>
<p>アラーム時間 <%= obj.data1[0].alarmTime %></p>
<p>アラーム種類 <%= obj.data1[0].alarmKind %></p>
<p>アラーム音量 <%= obj.data1[0].alarmVol %></p>
<p>開始時刻1 <%= obj.data1[0].awake1Start %></p>
<p>終了時刻1 <%= obj.data1[0].awake1End %></p>
<p>開始時刻2 <%= obj.data1[0].awake2Start %></p>
<p>終了時刻2 <%= obj.data1[0].awake2End %></p>
<hr>
<br>
<p><a href="/">トップページに戻る</a></p>
