 <!-- タイマーと動作時間の実行 -->
<p>タイマーと動作時間を設定しました</p>
<br>
<hr>
<p>アラーム設定 <%= obj_config.data1[0].alarmOn %></p>
<p>アラーム時間 <%= obj_config.data1[0].alarmTime %></p>
<p>アラーム種類 <%= obj_config.data1[0].alarmKind %></p>
<p>アラーム音量 <%= obj_config.data1[0].alarmVol %></p>
<p>開始時刻1 <%= obj_config.data1[0].awake1Start %></p>
<p>終了時刻1 <%= obj_config.data1[0].awake1End %></p>
<p>開始時刻2 <%= obj_config.data1[0].awake2Start %></p>
<p>終了時刻2 <%= obj_config.data1[0].awake2End %></p>
<hr>
<br>
<p><a href="/">トップページに戻る</a></p>
